.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 40px 0;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px 14px;
    cursor: pointer;
    opacity: 0; /* Ocultar por defecto */
    transition: opacity 0.3s ease;
    z-index: 2;
}

.carousel-btn:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.carousel-btn:first-of-type {
    left: 15%;
}

.carousel-btn:last-of-type {
    right: 15%;
}

/* ✅ Mostrar botones solo cuando se hace hover en la zona de carrusel */
.carousel-container:hover .carousel-btn {
    opacity: 1;
}

.image-container {
    width: 80%;
    height: 650px;
    background-color: #f0f0f0;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 4px;
}

.property-name {
    margin-top: 85px;
    margin-left: 20px;
}


.property-precio {
    margin-left: 20px;
    margin-bottom: 0px;
    font-size: 30px;
    color: #bfa980;
    font-weight: 900;
}
